@model DiegoMoyanoProject.ViewModels.UserPdf.PruebaImgViewModel;

<div class="container text-center">
    <h1 class="display-4">Ultimos datos cargados</h1>
</div>

<div class="gallery container row" onclick="openLightbox2(event)">
    <div class="container text-center col-lg-4 col-md-6 col-sm-12">
        <img src="@Model.Img"
             alt="aa" class="img-fluid rounded border border-dark">

        <h5 class="text-primary font-weight-bold">aaaa</h5>
    </div>
    <div class="container text-center col-lg-4 col-md-6 col-sm-12">
        <img src="@Model.Img"
             alt="aa" class="img-fluid rounded border border-dark">

        <h5 class="text-primary font-weight-bold">aaaa</h5>
    </div>
</div>
<!-- Lightbox container -->
<div id="lightbox">
    <!-- Close button -->
    <span id="close-btn2" onclick="closeLightbox()">&times;</span>

    <!-- Main lightbox image -->
    <img id="lightbox-img2" src="" alt="lightbox image">

    <!-- Thumbnails container -->
    <div id="thumbnail-container2">
        <!-- Thumbnails will be added dynamically using JavaScript -->
    </div>

    <!-- Previous and Next buttons -->
    <button id="prev-btn2" onclick="changeImage(-1)">&lt; Prev</button>
    <button id="next-btn2" onclick="changeImage(1)">Next &gt;</button>
</div>






